body {
	background-color: lightskyblue;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background-color: sandybrown;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 641px;
	border-radius: 5px;
}

.outer-grid-cell {
	width: 60px;
	height: 42px;
	background-color: lightgray;
	color: black;
	border: 2px solid black;
	justify-content: center;
	align-items: center;
	display: flex;
}

.grid-cell {
	width: 28px;
	height: 50%;
	background-color: lightgray;
	color: black;
	border: 2px solid black;
	border-radius: 28px;
	font-size: 6px;
}

.grid-cell h1 {
	margin: 0px;
}

.background-green {
	background-color: green;
}
.background-red {
	background-color: red;
}
